[Unit]
Description=Turtle Master gunicorn daemon
Requires=gunicorn_TurtleMaster.socket
After=network.target

[Service]
User=wwwadmin
Group=wwwadmin
WorkingDirectory=/home/wwwadmin/TurtleMaster
ExecStart=/home/wwwadmin/TurtleMaster/venv_t/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/wwwadmin/TurtleMaster/TurtleMaster.sock TurtleMaster.wsgi:application

[Install]
WantedBy=multi-user.target

