{% extends "TurtleMasterApp/base.html" %}
{% block content %}
<script type='text/javascript'>
  var infection_json = {{ json_infection|safe }};
</script>

<div id=app>

    <p>[[ title ]]</p>

    <ul>
      <li v-for="record in infection_json">
        <H4>country_region [[ record.country_region ]] confirmed [[record.confirmed]] deaths [[record.deaths]] recovered [[record.recovered]] last_update [[record.last_update]]</H4>
      </li>
    </ul>

</div>

<script>


    new Vue({

        delimiters: ['[[', ']]'],

        el: '#app',

        data: {

            title: 'Welcome to Turtle Master',
            infection_json: infection_json
        }

    })



</script>

{% endblock %}
