{% extends "TurtleMasterApp/base.html" %}
{% block content %}
<script type='text/javascript'>
  var topline_json = {{json_topline | safe}};
  var us_satistics_json = {{json_us_statistics | safe}};
  var world_statistics_json = {{json_world_statistics | safe}};
  alert("Please Remember to stay home and stay safe during these troubeling times. It's important not to get infected for your lives and many others lives are at stake. Please wash you hands daily and use soap and water. Thank You from the TurtleMaster Team.")
</script>

<div id=app>
  <div calss=head>
    <h1>Welome to Covid hub</h1>
    {% load static %}
    <img src="{% static 'TurtleMasterApp/LMC_Logo.jpg' %}" alt="Little Master's Club Logo"  width="50px" height="50px" class="LMC_Logo">
    <img src="{% static 'TurtleMasterApp/TurtleMaster_Logo.jpg' %}" alt="TurtleMaster Logo"  width="50px" height="50px" class="TM_Logo">
    <nav>
      <a href="history.html">Home</a>
      <a href="history.html"  class="active">Info</a>
      <a href="history.html">About Us</a>
      <a href="history.html">Websites on Covid-19</a>
    </nav>
  </div>
  <p class="white_space">"






    "</p>
    <p class="white_space">"






      "</p>

  <table>
    <tr>
      <th class="th">Location</th>
      <th class="th">Confirmed</th>
      <th class="th">Deaths</th>
      <th class="th">Recovered</th>
      <th class="th">Last Update</th>
    </tr>
    <tr v-for="record in topline_json">
      <td>[[ record.country_region ]]-</td>
      <td>confirmed [[record.confirmed]],</td>
      <td>deaths [[record.deaths]], </td>
      <td>recovered [[record.recovered]]</td>
      <td>Last Update [[record.last_update]]</td>
    </tr>
    <tr>
      <th>US</th>
      <th>         </th>
      <th>         </th>
      <th>         </th>
      <th>         </th>
    </tr>
    <tr v-for="record in us_satistics_json">
      <td>[[ record.province_state ]]-</td>
      <td>confirmed [[record.confirmed]],</td>
      <td>deaths [[record.deaths]], </td>
      <td>recovered [[record.recovered]]</td>
      <td>Last Update [[record.last_update]]</td>
    </tr>
    <tr>
      <th>World</th>
      <th>         </th>
      <th>         </th>
      <th>         </th>
      <th>         </th>
    </tr>
    <tr v-for="record in world_statistics_json">
      <td>[[ record.country_region ]]-[[ record.province_state ]]-</td>
      <td>confirmed [[record.confirmed]],</td>
      <td>deaths [[record.deaths]], </td>
      <td>recovered [[record.last_update]]</td>
      <td>Last Update [[record.last_update]]</td>
    </tr>
    <table>
    <p>


    </p>
    <footer>By Lingyuan, Samuel, Florence</footer>
</div>
<script>
  new Vue({

    delimiters: ['[[', ']]'],

    el: '#app',

    data: {

      topline_json: topline_json,
      us_satistics_json: us_satistics_json,
      world_statistics_json: world_statistics_json,
    }

  })
</script>

{% endblock %}
